.docs-head {
	.grid {
		div {
			@include media(medium) {
				text-align: center;
			}
		}

		img {
			width: 200px;
			justify-self: flex-end;

			@include media(medium) {
				justify-self: center;
			}
		}
	}
}
.docs-main {
	.container {
		@include media(large) {
			padding: 0;
		}
	}
	.grid {
		grid-template-columns: 1fr 2fr;
		align-items: flex-start;

		@include media(large) {
			gap: 5px;
		}
		@include media(medium) {
			grid-template-columns: 1fr;
		}

		.card {
			&:nth-child(1) {
				@include media(medium) {
					min-width: 400px;
					margin: 0 auto 50px;
				}
			}
			h3 {
				margin: 20px 0;
			}
			nav {
				ul {
					li {
						font-size: 17px;
						padding-bottom: 5px;
						margin-bottom: 5px;
						border-bottom: 1px solid #ccc;

						a {
							&:hover {
								font-weight: 700;
							}
						}
					}
				}
			}
			.alert {
				i {
					margin-right: 10px;
				}
			}
		}
	}
}
